/* Start General Edits  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Cairo", sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

input {
    outline: none;
    border: none;
}

ul {
    list-style: none;
    padding: 0;
}

::placeholder {
    transition: var(--main-transition);
}

:focus::placeholder {
    opacity: 0;
}

/* End General Edits  */

/* Start Variables */
:root {
    --primary-color: #009688;
    --second-color: #ff9800;
    --main-background-color: #ededed;
    --text-color: #777;
    --main-transition-duration: 0.3s;
    --blue-color: #0075ff;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --gray-color: #bdbdbd;
}
/* End Variables */
